In [1]:
from wishpy.query import Query

In [2]:
query = Query()
result = query.query(job_id=546434081)
result.head()

You can look at job id 546434081

               ip        time   m_requests  r_flagged  m_users  historical
0  189.187.167.63  1566486000  1131.961193        1.0       17           0
1    77.222.96.43  1566486000  1051.605171        1.0      119           0
2    176.42.218.0  1566486000   622.617049        1.0       74           0
3  187.161.146.99  1566486000   604.866770        1.0       70           0
4  46.138.195.208  1566486000   550.037525        1.0       61           0